langchain
langchain-community
langchain-text-splitters
chromadb
langchain-chroma
requests
langchain-openai
langchain-ollama
langchain-litellm
streamlit
python-dotenv
argparse
unstructured
pypdf
markdown
